@use '../../../styles/index.scss' as *;

.card {
    display: block;
}

.smallCard {
    display: none;
}

@media (max-width: $breakpoint-mobile) {
    .card {
        display: none;
    }

    .smallCard {
        display: block;
    }
}
